<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myboard"
    android:versionCode="1"
    android:versionName="MyBoard.V.1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowCode"
            android:parentActivityName=".Problems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Problems" />

        </activity>
        <activity
            android:name=".ExportProblems"
            android:parentActivityName=".Problems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Problems" />
        </activity>
        <activity android:name=".Import" />
        <activity
            android:name=".DeleteBoard"
            android:parentActivityName=".Boards">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Boards" />
        </activity>
        <activity
            android:name=".DeleteProblem"
            android:parentActivityName=".Problems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Problems" />
        </activity>
        <activity
            android:name=".LoadedProblem"
            android:parentActivityName=".Problems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Problems" />
        </activity>
        <activity
            android:name=".Problems"
            android:parentActivityName=".Boards">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Boards" />
        </activity>
        <activity
            android:name=".AddProblem"
            android:parentActivityName=".Problems">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Problems" />
        </activity>
        <activity
            android:name=".AddBoard"
            android:parentActivityName=".Boards">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Boards" />
        </activity>
        <activity
            android:name=".Boards"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>